<div class="jumbotron">
  <h1>{{ title }} </h1>
  <p>A very simple Single Page Application demo that consumes data from a RESTful web application built with JAX-RS/Jersey.</p>
  <p>Use the navigation menu wisely :) </p>
  <hr/>
  <p>Source code for this Angular 2 Single Page Application (<a href="https://github.com/gedion-dessie/xyz-spa" target="_blank">https://github.com/gedion-dessie/xyz-spa</a>)</p>
  <p>Source code for the RESTful API (<a href="https://github.com/gedion-dessie/xyz-rest" target="_blank">https://github.com/gedion-dessie/xyz-rest</a>)</p>
</div>
