<div class="container">
  <div class="row">
    <h1>{{ title }} </h1>
  </div>
  <div class="text-right">
    <button class="btn-primary" (click)="addNewRecruiter()">Add New Recruiter</button>
  </div>
  <div class="row">
    <p>Select a row for details</p>
  </div>
  <table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Address</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let recruiter of recruiters" (click) = "selectRecruiter(recruiter.id)">

      <td>{{ recruiter.person.firstName }}</td>
      <td>{{ recruiter.person.lastName }}</td>
      <td>{{ recruiter.person.email }} </td>
      <td>{{ recruiter.person.address.street }}, {{ recruiter.person.address.city }}, {{ recruiter.person.address.state }}</td>
    </tr>
    </tbody>
  </table>
</div>


